@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
    --color-1: #e50077;
    --color-2: #471f05;
    --color-3: #252525;
    --color-4: #252525;
    --color-5: #ffffff;
    --color-6: #efe8e2;
    --color-7: #252525;
    --color-8: #ede7e2;
    --color-9: #f2af29;
    --color-10: #006600;
    --color-11: #ea4335;
    --color-12: #ea4335;
    --color-13: #ed7d42;
    --color-14: #471f05;
    --color-15: #db3229;
    --swiper-theme-color: var(--color-1);
}

* {
    font-family: "Kumbh Sans", serif;
}

.inputFieldContainer {
    width: 100%;
    max-width: 100%;
    background-color: var(--color-6);
    display: flex;
    flex-flow: column nowrap;

    .inputFieldLabel {
        max-width: 100%;
        height: 1.2rem;
        margin: 1rem 0 .5rem 0;
        cursor: pointer;
        text-align: left;

    }

    .inputField {
        background-color: transparent;
        width: 20rem;
        padding: 0.5rem;
        margin-top: 8px;
        margin-bottom: 5px;
        border-radius: 0.125rem;
        border: 1px solid var(--color-7);
        outline: 1px solid var(--color-5);
        transition: all 0.3s ease-in-out;
        font-size: 12px;
    }

    .inputField:focus {
        outline: 1px solid var(--color-14);
        font-size: 13px;
    }
}