@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
    --color-1: #e50077;
    --color-2: #471f05;
    --color-3: #252525;
    --color-4: #252525;
    --color-5: #ffffff;
    --color-6: #efe8e2;
    --color-7: #252525;
    --color-8: #ede7e2;
    --color-9: #f2af29;
    --color-10: #006600;
    --color-11: #ea4335;
    --color-12: #ea4335;
    --color-13: #ed7d42;
    --color-14: #471f05;
    --color-15: #db3229;
    --swiper-theme-color: var(--color-1);
}

html {
    font-size: 16px;
}

* {
    font-family: "Kumbh Sans", serif;
}

.text-color-1 {
    color: var(--color-1);
}

.text-color-2 {
    color: var(--color-2);
}

.container {
    width: 100%;
    max-width: 74.375rem;
    margin: auto;
    box-sizing: border-box;
    padding: 0 1rem;
}

.slider-title {
    margin: 0 0 14px 0;
    font-size: calc(1.1rem + 1vw);
    color: var(--color-2);
}

.all-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.w-full {
    width: 100%;
}

@media screen and (min-width: 1280px) {
    .container {
        padding: 0;
    }
}

/* Desktop and large screen devices like tablets */
@media screen and (min-width: 992px) {
    .formContainer {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin: 2rem 0 2rem 0;

        .formImage {
            width: 50%;
            height: 30rem;
            background-image: url("/images/form-pages.webp");
            background-size: 100% 150%;
        }

        .form {
            width: 40%;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;

            .formTitle {
                width: 100%;
                text-align: center;
                font-size: 1rem;
            }

            .inputFieldContainer {
                width: 100%;
                max-width: 100%;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;

                .inputFieldLabel {
                    max-width: 100%;
                    height: 1.2rem;
                    margin: 1rem 0 .5rem 0;
                    cursor: pointer;
                    text-align: left;

                }

                .inputField {
                    background-color: transparent;
                    width: 25rem;
                    max-width: 30rem;
                    padding: 0.5rem;
                    margin-top: 8px;
                    margin-bottom: 5px;
                    border-radius: 0.125rem;
                    border: 1px solid var(--color-7);
                    outline: 1px solid var(--color-5);
                    transition: all 0.3s ease-in-out;
                    font-size: 12px;
                    text-align: center;
                }

                .inputField:focus {
                    outline: 1px solid var(--color-14);
                }
            }

            .submitButton {
                margin: 2rem 0 0 0;
                padding: .5rem;
                border-radius: 100px;
                width: 10rem;
                transition: all 0.3s ease-in-out;
                background-color: var(--color-1);
                color: var(--color-5);
                border: 1px solid var(--color-1);
            }

            .submitButton:hover {
                margin: 2rem 0 0 0;
                padding: .5rem;
                border-radius: 100px;
                background-color: var(--color-5);
                color: var(--color-1);
                border: 1px solid var(--color-1);
                font-weight: bold;
            }
        }
    }
}

/* Mobile */
@media screen and (width <= 992px) {
    .formContainer {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: 0 0 2rem 0;

        .formImage {
            height: 10rem;
            width: 100%;
            max-width: 100dvw;
            background-image: url("/images/form-pages.webp");
            background-position: center;
            background-size: cover;
        }

        .form {
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;

            .formTitle {
                width: 100%;
                text-align: center;
                font-size: 1rem;
                
            }

            .inputFieldContainer {
                width: 90%;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;

                .inputFieldLabel {
                    width: 100%;
                    height: 1.2rem;
                    margin: 1rem 0 .5rem 0;
                    cursor: pointer;
                    text-align: left;
                }

                .inputField {
                    background-color: transparent;
                    width: 100%;
                    padding: 0.5rem;
                    margin-top: 8px;
                    margin-bottom: 5px;
                    border-radius: 0.125rem;
                    border: 1px solid var(--color-7);
                    outline: 1px solid var(--color-5);
                    transition: all 0.3s ease-in-out;
                    font-size: 12px;
                    text-align: center;
                    box-sizing: border-box;
                }

                .inputField:focus {
                    outline: 1px solid var(--color-14);
                }
            }

            .submitButton {
                margin: 2rem 0 0 0;
                padding: .5rem;
                border-radius: 100px;
                width: 10rem;
                transition: all 0.3s ease-in-out;
                background-color: var(--color-1);
                color: var(--color-5);
                border: 1px solid var(--color-1);
            }

            .submitButton:hover {
                margin: 2rem 0 0 0;
                padding: .5rem;
                border-radius: 100px;
                background-color: var(--color-5);
                color: var(--color-1);
                border: 1px solid var(--color-1);
                font-weight: bold;
            }
        }
    }
}